body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  background: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8bWluaW1hbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D");
  font-family: -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
}

.hidden {
  display: none;
}

.thumbnail-button {
  border-color: grey;
  border-radius: 5px;
}

.thumbnail-button:active {
  background-color: rgb(213, 227, 255);
}

#prev-image-button {
  margin-top: 16px;
}

#next-image-button {
  margin-bottom: 16px;
}

#userSelectionModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#thumbnails-container {
  width: 150%;
  height: 150%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  border-radius: 2px;
  cursor: pointer;
  border: 0.5px solid rgb(0, 0, 0);
  background: none;
  padding: 4px 8px;
}

button:hover {
  opacity: 0.8;
}

#public-channels li {
  display: block;
}

#dashboard-chat-interface {
  background-color: #dbdbdb;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

#channels {
  flex: 0.5;
  max-width: 400px;
  padding: 0 16px;
  margin-left: -20px;
  margin-right: 10px;
  height: 100%;
}

#channels button {
  border: none;
  width: 200px;
  background: none;
  text-align: left;
}

#channel-messages {
  background-color: white;
}

#channel-infos-container {
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.reactions-list {
  display: flex;
}

#channel-infos-container > * {
  margin-top: 0;
  margin-bottom: 0;
}

.message-container {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}

.message-container * {
  margin: 0;
}

.message-container button {
  background: none;
  border: 0.2px solid grey;
  border-radius: 5px;
  margin: 0 1px;
}

#channel-send-message-form {
  position: relative;
}

.others-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 40%;
}
.my-messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 40%;
}

.message-modifiers {
  display: flex;
}

#body {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: relative;
}

#head {
  flex-shrink: 0;
}

#content {
  overflow-y: auto;
  max-height: 500px;
}

#foot {
  height: 50px;
  flex-shrink: 0;
}

.password-div {
  position: relative;
}

.toggle-password {
  position: absolute;
  top: 5px;
  right: 30px;
  cursor: pointer;
}

#thumbnail-modal-image {
  max-width: 80vw;
  max-height: 60vh;
}

img {
  cursor: pointer;
}

.card {
  background: #fff;
  transition: 0.5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: 0.55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
  width: 280px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  z-index: 7;
  max-height: 500px;
}

.chat-app .chat {
  margin-left: 280px;
  border-left: 1px solid #eaeaea;
}

.chat-app .chat-list {
  height: 650px;
  overflow-x: auto;
}

.chat-app .chat-history {
  height: 600px;
  overflow-x: auto;
}

#chat-app {
  min-height: 768px;
}

.people-list {
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.people-list .chat-list li {
  padding: 10px 15px;
  list-style: none;
  border-radius: 3px;
}

.people-list .chat-list li:hover {
  background: #efefef;
  cursor: pointer;
}

.people-list .chat-list li.active {
  background: #efefef;
}

.people-list .chat-list li .name {
  font-size: 15px;
}

.people-list .chat-list img {
  width: 45px;
  border-radius: 50%;
}

.people-list img {
  float: left;
  border-radius: 50%;
}

.people-list .about {
  float: left;
  padding-left: 8px;
}

.people-list .status {
  color: #999;
  font-size: 13px;
}

.chat .chat-header {
  padding: 15px 20px;
  border-bottom: 2px solid #f4f7f6;
}

.chat .chat-header img {
  float: left;
  border-radius: 40px;
  width: 40px;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
}

.chat .chat-history {
  padding: 20px;
  border-bottom: 2px solid #fff;
}

.chat .chat-history ul {
  padding: 0;
}

.chat .chat-history ul li {
  list-style: none;
  margin-bottom: 30px;
}

.chat .chat-history ul li:last-child {
  margin-bottom: 0px;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data img {
  border-radius: 40px;
  width: 40px;
}

.chat .chat-history .message-data-time {
  color: #434651;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: #444;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  display: inline-block;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: #efefef;
}

.chat .chat-history .my-message:after {
  bottom: 100%;
  left: 30px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .other-message {
  background: #e8f1f3;
  text-align: right;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #e8f1f3;
  left: 93%;
}

.chat .chat-message {
  padding: 20px;
}

.online,
.offline,
.me {
  margin-right: 2px;
  font-size: 8px;
  vertical-align: middle;
}

.online {
  color: #86c541;
}

.offline {
  color: #e47297;
}

.me {
  color: #1d8ecd;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 767px) {
  .chat-app .people-list {
    height: 200px;
    width: 100%;
    overflow-x: auto;
    background: #fff;
  }
  .chat-app .people-list.open {
    left: 0;
  }
  .chat-app .chat {
    margin: 0;
  }
  .chat-app .chat .chat-header {
    border-radius: 0.55rem 0.55rem 0 0;
  }
  .chat-app .chat-history {
    height: 500px;
    overflow-x: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .chat-app .chat-list {
    height: 650px;
    overflow-x: auto;
  }
  .chat-app .chat-history {
    height: 600px;
    overflow-x: auto;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .chat-app .chat-list {
    height: 480px;
    overflow-x: auto;
  }
  .chat-app .chat-history {
    height: calc(100vh - 350px);
    overflow-x: auto;
  }
}
